@import 'js-course';
@import 'module1';




body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
h1 {
  text-align: center;
}
section {
  margin-bottom: 20px;
}

section h3 {
   font-size: 15px;
}
